@font-face {
  font-family: "DMSans";
  src: url("assets/fonts/DMSans-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "DMSans-Italic";
  src: url("assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "DMSans";
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  width: 85%;
}

section {
  /* width: 90%; */

  border-radius: 5px;
  /* line-height: 1.2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.grid-sections {
  display: grid;
  grid-template-columns: repeat(55, 20px);
  grid-template-rows: repeat(19, 40px);
  /* gap: 1rem; */
}

.num {
  color: hsl(39, 100%, 71%);
}

.faster {
  font-family: "DMSans-Italic";
}

.quicker {
  font-family: "DMSans-Italic";
  color: hsl(256, 67%, 59%);
}

.star-review {
  font-size: 7px;
  font-weight: 300;
}

.social-media-ai,
.grow-followers {
  background-color: hsl(256, 67%, 59%);
  color: white;
}

.multiple-accounts,
.audience-growth {
  background-color: hsl(0, 0%, 100%);
}

.consistent-post,
.content-ai {
  background-color: hsl(39, 100%, 71%);
}

.social-media-schedule {
  background-color: hsl(254, 88%, 90%);
  grid-column: 39/47;
  grid-row: 3/13;
}

.create-schedule {
  background-color: hsl(31, 66%, 93%);
  grid-column: 17/ 25;
  grid-row: 3/ 10;
}

.social-media-ai {
  grid-column: 25/40;
  grid-row: 3/8;
}

.content-ai {
  grid-column: 17/25;
  grid-row: 10/18;
}

.multiple-accounts {
  grid-column: 25/32;
  grid-row: 8/12;
}

.consistent-post {
  grid-column: 32/39;
  grid-row: 8/12;
}

.medium-font-size {
  font-size: 18px;
}

.large-font-size {
  font-size: 20px;
}

.small-font-size {
  font-size: 12px;
}

.larger-font-size {
  font-size: 1.7rem;
}

.font-weight-style {
  font-weight: 500;
}

.consistent-schedule-img,
.ai-content-img {
  width: 9rem;
}

.platform-img {
  width: 15rem;
}

.create-post-img {
  width: 9rem;
}

.schedule-post-img {
  width: 10rem;
  /* height: 11rem; */
}

.grow-followers-img {
  width: 10rem;
}

.five-star-img,
.audience-growth-img {
  width: 8rem;
}
